body{
	font-family: sans-serif;
	background-repeat: no-repeat;
	color: black;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;;
}

h1 {
	margin: 10px;
}


/*this is the dimmer window once you have found Waldo*/
#dimmer {
	z-index:1;
	padding: 0px;
	margin: 0px;
	position: absolute;
	height: 750px;
	width: 1024px;
	top:0px;
	left:0px;
	background-color: black;
	background:rgba(0,0,0,0.4);
}

#waldo_spot{
	z-index:1;
	position: absolute;
	height: 75px;
	width: 75px;
	top:355px;
	left:500px;
	border-radius:75%;
	background-color: none;
	background:rgba(255,255,255,0.5)

}


/* Modal Content/Box */
.modal-content {
	font-family: sans-serif;
	z-index:2;
	position: absolute;
	left: 345px;
	height: 95px;
	width: 225px;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    text-align: center;
}

#otherModal {
	position: absolute;
	left: 745px;
	height: 225px;
	width: 150px;
	padding-top: 5px;

}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}